@import "tailwindcss";

/* Umumiy font-family va font-size */
body {
    font-family: "Inter", sans-serif;
    /* yoki tanlagan fonting */
}

@layer utilities {
    .toast-width {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* tailwind.config.js yoki CSS faylingizda */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 0.3s ease-out;
}